.mc-0 {
  color: #000000;
  text-shadow: 1px 1px 0 #000000;
}

.mc-1 {
  color: #0000aa;
  text-shadow: 1px 1px 0 #00002a;
}

.mc-2 {
  color: #00aa00;
  text-shadow: 1px 1px 0 #002a00;
}

.mc-3 {
  color: #00aaaa;
  text-shadow: 1px 1px 0 #002a2a;
}

.mc-4 {
  color: #aa0000;
  text-shadow: 1px 1px 0 #2a0000;
}

.mc-5 {
  color: #aa00aa;
  text-shadow: 1px 1px 0 #2a002a;
}

.mc-6 {
  color: #ffaa00;
  text-shadow: 1px 1px 0 #2a2a00;
}

.mc-7 {
  color: #aaaaaa;
  text-shadow: 1px 1px 0 #2a2a2a;
}

.mc-8 {
  color: #555555;
  text-shadow: 1px 1px 0 #151515;
}

.mc-9 {
  color: #5555ff;
  text-shadow: 1px 1px 0 #15153f;
}

.mc-a {
  color: #55ff55;
  text-shadow: 1px 1px 0 #153f15;
}

.mc-b {
  color: #55ffff;
  text-shadow: 1px 1px 0 #153f3f;
}

.mc-c {
  color: #ff5555;
  text-shadow: 1px 1px 0 #3f1515;
}

.mc-d {
  color: #ff55ff;
  text-shadow: 1px 1px 0 #3f153f;
}

.mc-e {
  color: #ffff55;
  text-shadow: 1px 1px 0 #3f3f15;
}

.mc-f {
  color: #ffffff;
  text-shadow: 1px 1px 0 #3f3f3f;
}

.mc-r {
  /* whatever you want the default color to be */
  color: #ffffff;
  text-shadow: 1px 1px 0 #3f3f3f;
}

.mc-k {
  /* TODO: JS or CSS animation to match actual in-game letter-flipping style */
  -webkit-filter: blur(.15em);
  filter: blur(.15em);
}

.mc-l {
  font-weight: bold;
}

.mc-m {
  text-decoration: line-through;
}

.mc-n {
  text-decoration: underline;
}

.mc-o {
  font-style: italic;
}
