body {
  font-family: sans-serif;
  font-size: 13pt;
  background: #f8f8f8;
  color: #333;
}

#input, #output {
  position: fixed;
  top: 1vw;
  bottom: 2.1em;
  padding: 0;
  overflow-y: scroll;
  font-family: monospace;
  width: 48.3vw;
}

#input {
  left: 1vw;
  background: #c9c9c9;
  color: #333;
  resize: none;
  outline: none;
  border: 1px solid #333;
  font-size: 13pt;
}

#output {
  right: 1vw;
  background: #333;
  color: #c9c9c9;
  border: 1px solid #333;
  word-wrap: break-word;
  white-space: pre-wrap;
}

#reference, #about {
  text-align: center;
  margin: .5em;
  position: fixed;
  bottom: 0;
  white-space: nowrap;
}

#reference {
  left: 1vw;
  width: 48.25vw;
  margin-left: 0;
}

#about {
  right: 1vw;
  margin-right: 0;
}

#about>a {
  text-decoration: none;
  background: #333;
  color: #f8f8f8;
  border: 2px solid #333;
  padding: .2em .5em;
}

#about>a:hover {
  background: #f8f8f8;
  color: #333;
}

::selection {
  color: #c9c9c9;
  background: #333;
}
